{{ template "base.tmpl" . }}
{{ define "content" }}

<!--导航-->
  <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item">{{ .Username }}的个人博客</h2>
        <a href="/{{ .Username }}/index" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
        <a href="/{{ .Username }}/type" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
        <a href="/{{ .Username }}/archives" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
        <a href="/{{ .Username }}/management" class="m-item item m-mobile-hide"><i class="mini info icon"></i>管理</a>

        <div class="right m-item m-mobile-hide menu">
          <div class="ui dropdown item">
            <div class="text">
              <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
              {{ .Visitor }}
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <a href="#" class="item">注销</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>

  <!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container">
      <div class="ui stackable grid">
        <!--左边博客列表-->
        <div class="eleven wide column">
          <!--header-->
          <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
              <div class="column">
                <h3 class="ui teal header">博客</h3>
              </div>
              <div class="right aligned column">
                共 <h2 class="ui orange header m-inline-block m-text-thin"> {{ .TotalBlog }} </h2> 篇
              </div>
            </div>
          </div>

          <!--content-->
          <div class="ui attached  segment">
            {{ $name := .Username }}
            {{ range $ind, $val := .Blogs }}

            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <a href="/{{ $name }}/blog/{{ .Id }}" class="header">
                    <h3 class="ui header">{{ $val.Tittle }}</h3>
                    <p class="m-text">{{ $val.Content }}</p>
                  </a>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">{{ $name }}</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> {{ $val.CreateTime }}
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> {{ $val.View }}
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">{{ .TypeName }}</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>

            {{ end }}

          </div>

          <!--footer-->
          <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
              <div class="column">
                <a href="#" class="ui mini teal basic button">上一页</a>
              </div>
              <div class="right aligned column">
                <a href="#" class="ui mini teal basic button">下一页</a>
              </div>
            </div>
          </div>

        </div>

        <!--右边的top-->
        <div class="five wide column">

          <!--分类-->
          <div class="ui segments">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column">
                  <i class="idea icon"></i>分类
                </div>
                <div class="right aligned column">
                  <a href="/{{ .Username }}/type" >more <i class="angle double right icon"></i></a>
                </div>
              </div>
            </div>
            <div class="ui teal segment">
              <div class="ui fluid vertical menu">

                {{ range $i, $v := .TypeCount }}

                <a href="#" class="item">
                  {{ $v.TypeName }}
                  <div class="ui teal basic left pointing label">{{ $v.BlogCount }}</div>
                </a>

                {{ end }}

              </div>
            </div>
          </div>

          <!--最新推荐-->
          <div class="ui segments m-margin-top-large">
            <div class="ui secondary segment ">
              <i class="bookmark icon"></i>最新推荐
            </div>

            {{ range $ic, $vc := .RecentBlog }}

            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">{{ $vc.Tittle }}</a>
            </div>

            {{ end }}

          </div>

          <!--二维码-->
          <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
          <div class="ui centered card" style="width: 11em">

          </div>
        </div>

      </div>
    </div>
  </div>

{{ end }}
